<div class="mdl-grid">
  <%= link_to "New Exercise", new_user_exercise_path(@user), class: "
  mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet
  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
</div>

<div class="mdl-grid">
  <% unless @exercises.empty? %>
    <% @exercises.each do |exercise| %>
      <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--3dp">
        <div class="mdl-card__title">
          <h5 class="mdl-card__title-text">
            <%= exercise.workout %>
          </h5>
        </div>
        <div class="mdl-card__supporting-text">
          Duration (Min): <%= exercise.duration_in_min %><br />
          Activity Date: <%= exercise.workout_date %>
        </div>
        <div class="mdl-card__actions">
          <%= link_to "Edit", edit_user_exercise_path(@user, exercise), class: "
          mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" %>
          <%= link_to "Delete", user_exercise_path(@user, exercise), id: "#{exercise.id}-delete", class: "mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect", method: :delete,
          data: { confirm: "Are you sure you want to delete exercise?" }
           %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">No Exercises Created Yet</h3>
      </div>
      <div class="mdl-card__supporting-text">
        <%= link_to "Create New Exercise", new_user_exercise_path(@user), class: "
        mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet
        mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
      </div
    </div>
  <% end %>
</div>
<%= content_tag :div, "", id: "chart", data: { workouts: @exercises } %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <h1>My Friends</h1>
    <% @friends.each do |friend| %>
      <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %>
      <%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)), method: :delete, data: {confirm: "Are you sure?"}, id: "unfollow-#{friend.first_name}-#{friend.last_name}" %>
    <% end %>
  </div>
</div>
