<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Workout App</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <%= link_to "Home", root_path, id: "nav-bar-home", class: "mdl-navigation__link" %>
        <%= link_to "Athletes Den", root_path, id: "nav-bar-athletes-den", class: "mdl-navigation__link" %>
        <% unless user_signed_in? %>
          <%= link_to "Register", new_user_registration_path, id: "nav-bar-register",
          class: "mdl-navigation__link" %>
        <% else %>

        <% end %>

        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Workout App</span>
    <nav class="mdl-navigation">
      <%= link_to "Home", root_path, id: "nav-drawer-home", class: "mdl-navigation__link" %>
      <%= link_to "Athletes Den", root_path, id: "nav-drawer-athletes-den", class: "mdl-navigation__link" %>
      <% unless user_signed_in? %>
        <%= link_to "Register", new_user_registration_path, id: "nav-drawer-register",
        class: "mdl-navigation__link" %>
      <% else %>

      <% end %>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
